{% extends 'base.html.twig' %}

{% block title %}À propos de moi{% endblock %}

{% block body %}
<h1>À propos de moi</h1>
<p>Voici une courte présentation :</p>
<ul>
    <li>Nom : Yacine Bensmail</li>
    <li>Passions : cybersécurité, développement web, programmation</li>
    <li>Formation : Licence en Informatique</li>
</ul>
{% endblock %}
