{% extends 'base.html.twig' %}

{% block title %}Mes Projets{% endblock %}

{% block body %}
<h1>Mes Projets</h1>
<ul>
    <li>Portfolio personnel (Symfony, HTML, CSS)</li>
    <li>Site web de démonstration</li>
    <li>Application en Python pour l’analyse de données</li>
</ul>
{% endblock %}
