{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur mon portfolio !</h1>
<p>Je m'appelle Yacine Bensmail, étudiant en BUT Reseaux et Telecommunication 1 et passionné par l'informatique, le développement web et la cybersécurité.</p>
<img src="{{ asset('images/iut.png') }}" alt="IUT de Roanne" style="max-width:100%; height:auto;">

{% endblock %}
