{% extends 'base.html.twig' %}

{% block title %}À Propos de Moi{% endblock %}

{% block body %}
    <h1>À Propos de Moi</h1>
    <p>Cette page est dédiée à mes passions et centres d'intérêt  qui nourrissent ma curiosité et mon équilibre.</p>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sport et Nature</h5>
                    <p class="card-text">Je suis passionné par le **sport** et les activités en **pleine nature**. Cela m'apprend la discipline et la résilience.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Musique et Méditation</h5>
                    <p class="card-text">La **musique** est une source d'inspiration quotidienne. Je pratique aussi la **méditation** pour rester concentré et gérer le stress.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Jeux Vidéo</h5>
                    <p class="card-text">Les **jeux** (stratégie et énigmes) stimulent ma logique et ma capacité à résoudre des problèmes complexes, des compétences utiles pour la cybersécurité.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}