{% extends 'base.html.twig' %}

{% block title %}Contact & Réseaux{% endblock %}

{% block body %}
<h1>Contact & Réseaux</h1>
<p>Vous pouvez me contacter ou visiter mes profils :</p>
<ul>
    <li><a href="https://github.com/yacinebensmail" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/yacinebensmail" target="_blank">LinkedIn</a></li>
</ul>

<h2>Centres d'intérêt</h2>
<ul>
    <li>Cybersécurité</li>
    <li>Développement logiciel</li>
    <li>Création web</li>
</ul>
{% endblock %}
